.join{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join h3{
    font-size: 3rem;
    margin-bottom: 20px;
}

.join .connection{
    margin-left: 2rem;
    font-size: 2rem;
}

.join .connection button{
    cursor: pointer;
    background-color: transparent;
    padding: 20px 0;
    font-size: 1.5rem;
    color: var(--main-light);
}

.cvForm .overlay{
    position: fixed;
    inset: 0;
    background-color: #000000a7;
    z-index: 21;
}

.cvForm {
    transition: 0.3s opacity ease-in-out;
}

.cvForm.hidden {
    pointer-events: none;
    opacity: 0;
}

.cvForm form{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 75vw;
    height: 90vh;
    background-color: var(--main-bg);
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 3rem 2rem 3rem;
    z-index: 21;
}

.cvForm form h5{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: var(--main-color);
}

.cvForm form .formControls{
    margin: 20px 0;
}

.cvForm form .formControls .formControl{
    margin: 20px 0;
}

.cvForm form .formControls .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}


.cvForm form .formControls .row .file{
    position: relative;
    border-bottom: 1px solid #999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    padding-left: 5px;
}

.cvForm form .formControls .row .file .filePrev{
    display: none;
    margin-top: 20px;
}

.cvForm form .formControls .row .file.added .filePrev{
    display: block;
    margin-top: 20px;
}

.cvForm form .formControls .row .file .filePrev .fileView{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.cvForm form .formControls .row .file .filePrev .fileView p{
    margin-right: 30px;
    font-size: 14px;
}

.cvForm form .formControls .row .file .filePrev .fileView button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
}

.cvForm form .formControls .row .file .fileName{
    margin-top: 20px;
}

.cvForm form .formControls .row .file.added .fileName{
    display: none;
}

.cvForm form .formControls .row .file span{
    font-size: 0.8rem;
}

.cvForm form .formControls .row .file i{
    margin: 20px 0 0 20px;
}

.cvForm form .formControls .row .file input{
    cursor: pointer;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.cvForm form .formControls .formControl input{
    will-change: border, color;
    border-bottom: 1px solid #999;
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 100;
    color: #999;
    transition: 0.2s all ease-in;
}

.cvForm form .formControls .formControl input:focus{
    border-bottom: 1px solid var(--main-color);
    color: var(--main-light);
}

.cvForm form .formControls .formControl.msg{
    display: inline-flex;
    flex-direction: column;
    font-size: 2rem;
    color: #999;
}

.cvForm form .formControls .formControl.msg textarea{
    padding: 5px;
    margin-top: 20px;
    border: 1px solid #999;
    font-size: 2rem;
    width: 55rem;
    resize: vertical;
    min-height: 150px;
}

.cvForm form .submition{
    text-align: right;
}

.cvForm form .submition button{
    cursor: pointer;
    padding: 10px 20px;
    font-size: 2rem;
    background-color: var(--main-color);
    color: #fff;
}

@media only screen and (max-width: 769px) {
    
    .cvForm form .formControls .row{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .cvForm form{
        width: 50vw;
    }

    .cvForm form .formControls .formControl{
        width: 100%;
    }

    .cvForm form .formControls .formControl input{
        width: 100%;
    }

    .cvForm form .formControls .formControl.msg textarea{
        width: 100%;
        font-size: 1.5rem;
    }

    .cvForm form .formControls .formControl input{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 426px) {
    .join{
        flex-direction: column-reverse;
    }

    .join .img{
        margin-bottom: 2rem;
    }

    .cvForm form{
        width: 90vw;
    }
}